/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/
/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/
Gtk.Grid {
 border-width: 2px;
}

button {
 border-radius: 0px;
border-width: 1px;
}

button:hover {
    background-image: none;
    background-color: cyan;
}

#pulsado {
    background-color: lightgray;
}
